nav{
    position: fixed;
    font-family: "Mali";
    
    
}
#navbar{
    display:flex;
    flex-direction: row;
    padding :0px;
    padding-right: 0px;
    right: 50px !important;
    top:50px;
}
#navbar li {
    box-sizing: border-box;
    border:2px solid rgb(3, 253, 191);
    background-clip: border-box;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
    font-size: 15px;
    list-style: none;
    position: sticky;
    padding:10px;
    margin:5px;
    border-radius: 50px;   
}
#navbar a{
    color: white;
    flex-direction: row;
    text-decoration:none;
}
#navbar li:hover{
    border: 2px solid white    
}
#navbar li:active{
    border: 2px solid white
}
#welcome-photo-bounceInUp{
    
    border:2px solid rgb(3, 253, 191);
    border-radius: 50%;
    width: 250px;
    height:250px; 
    animation: MoveUpDown 1s ;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    position: absolute;
    left: 250px;
    top:150px;
}
@keyframes MoveUpDown {
    0%  {
    top:10px;
    opacity: 0;
    width:0px;
    height:0px
    
}
   
    100% {
    top: 100px;
    
}
}
h1{
    font-family: "Mali";
    line-height: 0.5;
    
    
}
#welcome-section{
    
    background-image: url(Photos/background.jpg);
    background-clip: border;
    background-attachment: fixed;
    display: grid;
    grid-template-rows: 50px 400px;
    grid-template-columns: 300px 300px 100px 100px ;
    grid-template-areas: "  .      .    . area2   "
                         "  area1      area3  .  .";
    height:100vh;
    padding-top: 0px;
    margin-top: 0px;
    height: 100vh;
                         
                        
                         
   
    
}
#greeting{
    animation: MoveUpDownLeft 2s infinite;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    position: absolute;
    right: 300px;
    top:200px;
    color: white;
    font-family: "Mali";
}
@keyframes MoveUpDownLeft {
    0%  {
    transform: translateY(-100px);
    opacity: 0;   
}  
    50% {
    transform: translateY(0px); 
    opacity: 0;    
}
    100% {
    transform: translateY(50px); 
    transform: scale();  

}
    
}

#projects{
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 70% 30%;
    grid-template-areas: "project-tiles    profile" ; 
 
}
.project-tile  {  
    padding-right:0px;      
    display: inline-grid;
    grid-template-rows:50% 50%;
    grid-template-columns: 30% 30% 30%;
    grid-template-areas: "wordpress       landingpage  tribute"
                         "technicalpage  surveyform     .    ";
}
.project-image{
   padding:20px;
   margin-top: 20px;
   margin-right: 80px;
   margin-left: 40px; 
   border:1px solid black;
   
}
#project-links{
   color:black;
   text-decoration: none;
   display: flex;
   flex-direction: column;
   line-height: 3;
}

#profile{
   margin:20px;
   box-sizing: border-box;
   
   background-image: url(Photos/background.jpg);
   background-clip: border;
}
 .profile-link{
  position:relative;
  display: inline-block;
  top : 50%;
  left:30px;
}

@media (max-width: 720px){
html{
display: flex;
flex-wrap: wrap;
flex-direction: column;
}
#welcome-photo-bounceInUp{
width: 200px;
height:200px;
left:50px;

}
#greeting{
text-align: center;
position:relative;
width: 100%;
left:200px ;
}
#projects{
display: flex;
flex-direction: column;
overflow: auto;
}
#profile{
width: 100%;
height:100%;
}
}